@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	background-color: black;
}

h1, h2, h3 {
	font-family: 'Heebo', sans-serif;
	font-weight: bold;
	color: white;
}

p {
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	color: white;
}

a {
	text-decoration: none;
}

.text-white {
	color: white;
	opacity: 1.0;
}

